node-red/flows.json
[{"id":"d7287635138939ae","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"017c0870ee6c6bb7","type":"mqtt in","z":"d7287635138939ae","name":"","topic":"maquina1/temperatura","qos":"2","datatype":"auto-detect","broker":"efb92637ae1ef4e8","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":180,"wires":[["94c69fc56d69fed9","c418d7aca43cea27","a21ab88eef026f7c","661944256ecb5028","fc10a1bf0a75b39d"]]},{"id":"94c69fc56d69fed9","type":"ui_gauge","z":"d7287635138939ae","name":"","group":"e20b5771e04ac008","order":1,"width":"5","height":"5","gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"35","diff":false,"className":"","x":410,"y":120,"wires":[]},{"id":"36126b0c4c0ef94f","type":"mqtt in","z":"d7287635138939ae","name":"","topic":"maquina1/distancia","qos":"2","datatype":"auto-detect","broker":"efb92637ae1ef4e8","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":480,"wires":[["b75f63f59c7eb42e","c546d3cd020c2fc7","fd06f5e63cb8bcc5","0f37d112a3cb54b8","42e3cde64a0b0d99"]]},{"id":"b75f63f59c7eb42e","type":"ui_gauge","z":"d7287635138939ae","name":"","group":"e20b5771e04ac008","order":2,"width":"5","height":"5","gtype":"gage","title":"Distância","label":" cm","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":400,"y":440,"wires":[]},{"id":"c418d7aca43cea27","type":"ui_chart","z":"d7287635138939ae","name":"","group":"716ae08723297770","order":0,"width":"6","height":"4","label":"Histórico Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":440,"y":180,"wires":[[]]},{"id":"c546d3cd020c2fc7","type":"ui_chart","z":"d7287635138939ae","name":"","group":"716ae08723297770","order":0,"width":"6","height":"4","label":"Histórico Distância","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":430,"y":500,"wires":[[]]},{"id":"a21ab88eef026f7c","type":"ui_text","z":"d7287635138939ae","group":"e20b5771e04ac008","order":3,"width":"5","height":"1","name":"","label":"Temperatura Atual:","format":"{{msg.payload}} °C","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":430,"y":240,"wires":[]},{"id":"fd06f5e63cb8bcc5","type":"ui_text","z":"d7287635138939ae","group":"e20b5771e04ac008","order":4,"width":"5","height":"1","name":"","label":"Distância Atual:","format":"{{msg.payload}} cm","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":420,"y":560,"wires":[]},{"id":"661944256ecb5028","type":"function","z":"d7287635138939ae","name":"function 1","func":"let temp = msg.payload;\n\nif (temp < 10) {\n    msg.payload = \"🥶 Muito frio\";\n} \nelse if (temp < 20) {\n    msg.payload = \"❄️ Frio\";\n} \nelse if (temp < 25) {\n    msg.payload = \"✅ Agradável\";\n} \nelse if (temp < 30) {\n    msg.payload = \"🌡️ Normal\";\n} \nelse if (temp < 35) {\n    msg.payload = \"⚠️ Quente\";\n} \nelse if (temp < 40) {\n    msg.payload = \"🔥 Muito quente\";\n} \nelse {\n    msg.payload = \"🚨 CRÍTICO!\";\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":300,"wires":[["e72a26d2be00665a"]]},{"id":"e72a26d2be00665a","type":"ui_text","z":"d7287635138939ae","group":"8d3b1d1927c9320c","order":0,"width":0,"height":0,"name":"","label":"Status Temperatura: ","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":640,"y":300,"wires":[]},{"id":"0f37d112a3cb54b8","type":"function","z":"d7287635138939ae","name":"function 2","func":"let dist = msg.payload;\n\nif (dist > 300) {\n    msg.payload = \"📏 Muito distante\";\n}\nelse if (dist > 200) {\n    msg.payload = \"↔️ Distância segura\";\n}\nelse if (dist > 100) {\n    msg.payload = \"⚠️ Atenção\";\n}\nelse if (dist > 50) {\n    msg.payload = \"🚧 Próximo\";\n}\nelse if (dist > 20) {\n    msg.payload = \"🔴 Muito próximo\";\n}\nelse {\n    msg.payload = \"🚨 RISCO DE COLISÃO!\";\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":620,"wires":[["defa0a8ee5b419f7"]]},{"id":"defa0a8ee5b419f7","type":"ui_text","z":"d7287635138939ae","group":"8d3b1d1927c9320c","order":0,"width":0,"height":0,"name":"","label":"Status Distância: ","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":630,"y":620,"wires":[]},{"id":"c552c46b6ff13c5b","type":"inject","z":"d7287635138939ae","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":20,"wires":[["e2087a65e7ddbe31"]]},{"id":"e2087a65e7ddbe31","type":"http request","z":"d7287635138939ae","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/weather?q=Sao%20Paulo&appid=ab61b0f9e8c275a98ddb16f9b76e78a7&units=metric&lang=pt_br","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":310,"y":20,"wires":[["9084dd4131f908d1"]]},{"id":"9084dd4131f908d1","type":"function","z":"d7287635138939ae","name":"function 3","func":"let data = msg.payload;\n\nlet temp = data.main.temp;\nlet clima = data.weather[0].description;\nlet umidade = data.main.humidity;\n\nmsg.payload = `🌡️ ${temp}°C | ☁️ ${clima} | 💧 ${umidade}%`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":20,"wires":[["20ebdfd509a68186"]]},{"id":"20ebdfd509a68186","type":"ui_text","z":"d7287635138939ae","group":"7d0d4daafe20e1c7","order":0,"width":"6","height":"2","name":"","label":"Clima Atual: ","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":710,"y":20,"wires":[]},{"id":"fc10a1bf0a75b39d","type":"function","z":"d7287635138939ae","name":"function 4","func":"msg.topic = \"INSERT INTO sensores (temperatura) VALUES (\" + msg.payload + \")\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":360,"wires":[["7258894cebfe05bc"]]},{"id":"42e3cde64a0b0d99","type":"function","z":"d7287635138939ae","name":"function 5","func":"msg.topic = \"INSERT INTO sensores (distancia) VALUES (\" + msg.payload + \")\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":700,"wires":[["49241f69a1511d48"]]},{"id":"49241f69a1511d48","type":"mysql","z":"d7287635138939ae","mydb":"cb0dc9ebce350b39","name":"","x":630,"y":700,"wires":[[]]},{"id":"7258894cebfe05bc","type":"mysql","z":"d7287635138939ae","mydb":"cb0dc9ebce350b39","name":"","x":630,"y":360,"wires":[[]]},{"id":"efb92637ae1ef4e8","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","tls":"","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e20b5771e04ac008","type":"ui_group","name":"Sensores Internos","tab":"381fb33c8a7d0e10","order":2,"disp":true,"width":"10","collapse":false,"className":""},{"id":"716ae08723297770","type":"ui_group","name":"Gráficos","tab":"381fb33c8a7d0e10","order":3,"disp":true,"width":"7","collapse":false,"className":""},{"id":"8d3b1d1927c9320c","type":"ui_group","name":"Alertas","tab":"381fb33c8a7d0e10","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"7d0d4daafe20e1c7","type":"ui_group","name":"Ambiente Externo","tab":"381fb33c8a7d0e10","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cb0dc9ebce350b39","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"iot_monitoramento","tz":"","charset":"UTF8"},{"id":"381fb33c8a7d0e10","type":"ui_tab","name":"Monitoramento IoT","icon":"dashboard","disabled":false,"hidden":false}]